#code{
    min-height: 40vh;
    min-width: 50vw;
    overflow-y: hidden;
    resize: none;
}

#result{
    /* min-width: 50vw; */
    min-height: 60vh;
    resize: none;
}

#input{
    min-height: 20vh;
    resize: none;
    overflow-y: hidden;
}